*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 10px;

}

.player{
  width: 10%;
  min-width: 300px;
  background-color: black;
 margin: 1rem;
}
.top-player{
  display: flex;
}
.top-player h2{
  color: white;
  margin: auto;
  font-size: 2rem;
  padding:0.5rem

}
.player img{
  width: 75%;
  max-height: 150px;
}
.player h2{
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.stats{
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 0.5rem;
}
.stats ul{
  list-style-type: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.9rem;

}
input{
  width: 100vw;
  padding: 10px;
  outline: none;
  border: 5px solid #CCD1E4;
  font-weight: 600;
  font-size: 2rem;
}
input::placeholder{
  text-align: center;
}
.filtro{
  display: none;
}

@media (max-width:660px){
  .container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .player{
    width: 50%;
    margin: auto;
  }
}